body {
    font-family: Arial, sans-serif;
    background-color: #155f00;
    padding: 20px;
}

.container {
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00a12b;
}

h1 {
    text-align: center;
    color: #104a00
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin: 10px -1px;
    padding: 10px;
    font-size: 18px;
}

button {
    background-color: #00817e;
    color: white;
    border: outset;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0082b1;
    border: groove;
}

.result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}

.result.underweight {
    background-color: #b3d9ff;
    color: #0057ad;
}

.result.normal {
    background-color: #c6e9ce;
    color: #269c41;
}

.result.overweight {
    background-color: #f6e8b8;
    color: #d6a30b;
}

.result.obese {
    background-color: #fcc9cd;
    color: #da0c20;
}

.result.error {
    background-color: #feb3b9;
    color: #691a22;
}